In [175]:
#importing the liberaries 
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib as plt

In [176]:
#Reading the csv file
data=pd.read_csv('Credit Banking - 3.csv')

In [177]:
print(data)

      Credit_card  Product_ID       P_CATEGORY     CONDTION  Brand  \
0          4595.0         534            SHOES          New  RKFCM
1          6679.0         396          LUGGAGE          New  TNVON
2          7075.0         449            SHOES  Refurbished  VKKEA
3          1418.0         145          BEDDING          New  PIUEM
4          6740.0         844      ELECTRONICS         Used  FMBZC
...           ...         ...              ...          ...    ...
9994       8609.0         470       APPLIANCES          New  TTNTN
9995       9725.0         406         CLOTHING         Used  ONKHS
9996       1548.0         694      ELECTRONICS          New  AGSDS
9997       4878.0         552            SHOES          New  RKFCM
9998       8532.0         395  OFFICE SUPPLIES          New  WELZA

          Price  Selling_price Coupon_ID        Date      Time     GTIN  \
0     $1,484.74     $1,471.74      BN710  26-08-2014  17:16:17  3109172
1     $1,452.50     $1,442.50      KF815  26-01-2014  15:40:52  7583605
2     $4,308.02     $4,284.02      UG960  03-01-2014  01:29:05  9985192
3     $3,272.59     $3,249.59      DK471  30-05-2014  09:10:00  7720605
4       $628.67       $608.67      OJ311  14-08-2014  05:31:30  8367528
...          ...           ...       ...         ...       ...      ...
9994  $1,187.85     $1,187.85      FL494  09-08-2014  18:09:03  7482917
9995  $2,202.20     $2,202.20      DP660  02-11-2014  12:31:20  6749808
9996  $3,123.80     $3,079.80      VI354  09-02-2014  20:06:24  7644170
9997  $1,257.44     $1,227.44      UQ360  17-01-2014  12:14:24  8336204
9998  $2,909.68     $2,883.68      SI291  26-05-2014  10:40:05  1813449

            MPN       Merchant_name    M_ID          Payment Method  \
0     547836726    Peninsula Beauty  YE5901            Prepaid card
1     279617132            DODOcase  UW7354  Mobile carrier Billing
2     633765867             Staples  VN6656             Credit card
3     734500382  Road Runner Sports  MS6579            Prepaid card
4     241944637          L'Occitane  GN3944              Debit card
...         ...                 ...     ...                     ...
9994  337083364       Cole Hardware  EX7729             Credit card
9995  354170741       Cole Hardware  EX7730            Prepaid card
9996  101023606      Barnes & Noble  EY1659  Mobile carrier Billing
9997  320092897            Gymboree  ZF8986  Mobile carrier Billing
9998  615832837            DODOcase  UW7356             Credit card

      Transaction ID  Return_ind Return_date
0              30462           0         NaN
1              37927           0         NaN
2              80640           0         NaN
3              58692           0         NaN
4              21505           0         NaN
...              ...         ...         ...
9994           17306           0         NaN
9995           41829           0         NaN
9996           34577           0         NaN
9997           43458           0         NaN
9998           82048           0         NaN

[9999 rows x 18 columns]

In [178]:
data.count()

Credit_card       9994
Product_ID        9999
P_CATEGORY        9999
CONDTION          9999
Brand             9999
Price             9999
Selling_price     9999
Coupon_ID         9979
Date              9999
Time              9999
GTIN              9999
MPN               9999
Merchant_name     9999
M_ID              9999
Payment Method    9999
Transaction ID    9999
Return_ind        9999
Return_date       1532
dtype: int64

In [179]:
data.columns

Index(['Credit_card', 'Product_ID', 'P_CATEGORY', 'CONDTION', 'Brand',
       'Price ', 'Selling_price', 'Coupon_ID', 'Date', 'Time', 'GTIN', 'MPN',
       'Merchant_name', 'M_ID', 'Payment Method', 'Transaction ID',
       'Return_ind', 'Return_date'],
      dtype='object')

In [180]:
data.dtypes

Credit_card       float64
Product_ID          int64
P_CATEGORY         object
CONDTION           object
Brand              object
Price              object
Selling_price      object
Coupon_ID          object
Date               object
Time               object
GTIN                int64
MPN                 int64
Merchant_name      object
M_ID               object
Payment Method     object
Transaction ID      int64
Return_ind          int64
Return_date        object
dtype: object

Data Cleaning

In [181]:
data['Credit_card']=data['Credit_card'].replace([np.nan],0)

In [182]:
data['Credit_card']=data['Credit_card'].astype(int)

In [183]:
data['Price '] = data['Price '].replace('[$]', '', regex=True)

In [184]:
data['Price '] = data['Price '].replace('[,]', '', regex=True).astype(float)

In [185]:
data['Price ']=data['Price '].astype(int)

In [186]:
data['Selling_price'] = data['Selling_price'].replace('[$]', '', regex=True)

In [187]:
data['Selling_price'] = data['Selling_price'].replace('[,]', '', regex=True)

In [188]:
data['Selling_price'] = data['Selling_price'].replace('[()]', '', regex=True).astype(float)

In [189]:
data['Selling_price']=data['Selling_price'].astype(int)

In [190]:
data['Date']=pd.to_datetime(data['Date'],dayfirst=True)

In [191]:
data['Return_date']=data['Return_date'].fillna(0)

In [192]:
data['Return_date']=pd.to_datetime(data['Return_date'],dayfirst=True)

In [193]:
equal_selling_price_and_price= np.where(data['Price ']==data['Selling_price'])

In [194]:
print(equal_selling_price_and_price)

(array([  16,   27,   77,  127,  177,  178,  179,  180,  189,  190,  204,
        205,  206,  220,  221,  222,  411,  412,  413,  453,  471,  485,
        495,  496,  511,  512,  524,  525,  526,  559,  560,  561,  806,
        807,  808,  845,  846,  847,  882,  883,  884,  885,  886,  887,
        888,  931,  932,  933,  934,  935, 5372, 5373, 5374, 5375, 5376,
       5377, 5378, 7210, 7211, 7212, 7213, 7214, 8215, 8216, 8217, 8218,
       8219, 8220, 8221, 8771, 8772, 8773, 8774, 8775, 8776, 8777, 9075,
       9076, 9077, 9078, 9079, 9080, 9081, 9310, 9311, 9312, 9313, 9314,
       9584, 9585, 9586, 9587, 9588, 9993, 9994, 9995], dtype=int64),)

In [195]:
selected_rows = data.iloc[equal_selling_price_and_price]

In [196]:
selected_values = selected_rows['Selling_price']

In [197]:
discounted_values= (selected_values-(selected_values*5/100))

In [198]:
data['return_date_is_after_purchase date']=data['Return_date']>data['Date']

In [199]:
coupon_code_is_null= data.index[data['Coupon_ID'].isna()]

In [200]:
print(coupon_code_is_null)

Index([  5,  23,  37,  61,  85, 105, 134, 166, 201, 237, 272, 298, 323, 353,
       377, 399, 417, 418, 445, 505],
      dtype='int64')

In [201]:
data.loc[coupon_code_is_null, 'Selling_price'] = data.loc[coupon_code_is_null, 'Price ']

In [202]:
data2=pd.read_csv('Credit Banking - 3 second page.csv')

In [203]:
print(data2)

     Credit_card                  Email       Name  Mobile_number Gender  Age  \
0           3768    eddie@yahoomail.com      EDDIE     9045258449      M   83
1           4852       rose@hotmail.com       ROSE     8834789103      F   87
2           1174      amy@yahoomail.com        AMY     9557690013      F   31
3           4807     clarence@gmail.com   CLARENCE     9394398429      M   37
4           9131     johnny@hotmail.com     JOHNNY     9976623538      F   80
..           ...                    ...        ...            ...    ...  ...
193         4575     tina@yahoomail.com       TINA     8819353220      F   56
194         3958     gordon@hotmail.com     GORDON     8853153218      M   87
195         8609   jennifer@hotmail.com   JENNIFER     9935042642      F   93
196         4542   michelle@hotmail.com   MICHELLE     9730382145      F   60
197         9532  katherine@hotmail.com  KATHERINE     9033150890      M   18

           City        State Address
0     Louisville    Kentucky  Masked
1    Kansas City    Missouri  Masked
2        Seattle  Washington  Masked
3        Seattle  Washington  Masked
4       Columbus        Ohio  Masked
..           ...         ...     ...
193       Austin       Texas  Masked
194      Seattle  Washington  Masked
195      Seattle  Washington  Masked
196   Louisville    Kentucky  Masked
197     San Jose  California  Masked

[198 rows x 9 columns]

In [204]:
data2.dtypes

Credit_card       int64
Email            object
Name             object
Mobile_number     int64
Gender           object
Age               int64
City             object
State            object
Address          object
dtype: object

In [205]:
age_is_less=data2.index[data2['Age']<18]

In [206]:
data2 = data2.drop(index=age_is_less)

In [207]:
data2=data2.reset_index(drop=True)

In [208]:
data2.loc[38]

Credit_card                    3500
Email            cheryl@hotmail.com
Name                         CHERYL
Mobile_number            8881689041
Gender                            F
Age                              73
City                        Seattle
State                    Washington
Address                      Masked
Name: 38, dtype: object

In [209]:
data2['Credit_card'].unique

<bound method Series.unique of 0      3768
1      4852
2      1174
3      4807
4      9131
       ...
182    4575
183    3958
184    8609
185    4542
186    9532
Name: Credit_card, Length: 187, dtype: int64>

From the above code we can say that the credit card id is unique for every customer because this code only give the unique value of the column and the length of column and the data set are same.

In [210]:
data.columns

Index(['Credit_card', 'Product_ID', 'P_CATEGORY', 'CONDTION', 'Brand',
       'Price ', 'Selling_price', 'Coupon_ID', 'Date', 'Time', 'GTIN', 'MPN',
       'Merchant_name', 'M_ID', 'Payment Method', 'Transaction ID',
       'Return_ind', 'Return_date', 'return_date_is_after_purchase date'],
      dtype='object')

Task 1

In [211]:
data2.columns

Index(['Credit_card', 'Email', 'Name', 'Mobile_number', 'Gender', 'Age',
       'City ', 'State', 'Address'],
      dtype='object')

In [212]:
data2['Age_Category']=''

In [213]:
df_young_female_index=data2.index[(data2['Age']<=40) & (data2['Gender']=='F')]

In [214]:
data2.loc[df_young_female_index, 'Age_Category'] = 'Young_Females'

In [215]:
df_mid_age_female_index=data2.index[(data2['Age']>40) & (data2['Age']<=60)&(data2['Gender']=='F')]

In [216]:
data2.loc[df_mid_age_female_index, 'Age_Category'] = 'Mid_age_Females'

In [217]:
df_old_age_female_index=data2.index[(data2['Age']>60) & (data2['Gender']=='F')]

In [218]:
data2.loc[df_old_age_female_index, 'Age_Category'] = 'Old_Females'

In [219]:
Young_Males=data2.index[(data2['Age']<=40) & (data2['Gender']=='M')]

In [220]:
data2.loc[Young_Males,'Age_Category']='Young_Males'

In [221]:
Mid_age_Males=data2.index[(data2['Age']>40) & (data2['Age']<=60) & (data2['Gender']=='M')]

In [222]:
data2.loc[Mid_age_Males,'Age_Category']='Mid_age_Males'

In [223]:
Old_age_Males=data2.index[(data2['Age']>60) & (data2['Gender']=='M')]

In [224]:
data2.loc[Old_age_Males,'Age_Category']='Old_age_Males'

In [225]:
data2

,Credit_card,Email,Name,Mobile_number,Gender,Age,City,State,Address,Age_Category
0,3768,eddie@yahoomail.com,EDDIE,9045258449,M,83,Louisville,Kentucky,Masked,Old_age_Males
1,4852,rose@hotmail.com,ROSE,8834789103,F,87,Kansas City,Missouri,Masked,Old_Females
2,1174,amy@yahoomail.com,AMY,9557690013,F,31,Seattle,Washington,Masked,Young_Females
3,4807,clarence@gmail.com,CLARENCE,9394398429,M,37,Seattle,Washington,Masked,Young_Males
4,9131,johnny@hotmail.com,JOHNNY,9976623538,F,80,Columbus,Ohio,Masked,Old_Females
...,...,...,...,...,...,...,...,...,...,...
182,4575,tina@yahoomail.com,TINA,8819353220,F,56,Austin,Texas,Masked,Mid_age_Females
183,3958,gordon@hotmail.com,GORDON,8853153218,M,87,Seattle,Washington,Masked,Old_age_Males
184,8609,jennifer@hotmail.com,JENNIFER,9935042642,F,93,Seattle,Washington,Masked,Old_Females
185,4542,michelle@hotmail.com,MICHELLE,9730382145,F,60,Louisville,Kentucky,Masked,Mid_age_Females
186,9532,katherine@hotmail.com,KATHERINE,9033150890,M,18,San Jose,California,Masked,Young_Males

Task 2

In [226]:
df_combined=data.merge(data2,on='Credit_card')

In [227]:
df_spend_on_product_category=data.groupby('P_CATEGORY')['Selling_price'].sum().sort_values(ascending=False)

In [228]:
df_spend_in_city=df_combined.groupby('City ')['Selling_price'].sum().sort_values(ascending=False)

In [229]:
df_spend_from_different_payment_method=df_combined.groupby('Payment Method')['Selling_price'].sum().sort_values(ascending=False)

Task 3

In [230]:
df_spend_on_product_category.head()

P_CATEGORY
DECOR              3200423
COMPUTERS          3060948
ELECTRONICS        2684788
OFFICE SUPPLIES    2465747
SHOES              2297932
Name: Selling_price, dtype: int32

In [231]:
df_spend_in_city.head()

City
Seattle          2122500
Chicago          2006585
Los Angeles      1962464
Louisville       1950493
San Francisco    1892234
Name: Selling_price, dtype: int32

In [232]:
df_spend_from_different_payment_method.head()

Payment Method
Mobile carrier Billing    10104350
Credit card                8825501
Prepaid card               4225844
Debit card                  831263
Paypal wallet               223621
Name: Selling_price, dtype: int32

Task 4

In [233]:
df_return_customer_data=df_combined.index[df_combined['Return_date']!='1970-01-01']

In [234]:
df_combined[['Return_date','State','Age_Category','CONDTION','P_CATEGORY','Coupon_ID']].loc[df_return_customer_data]

,Return_date,State,Age_Category,CONDTION,P_CATEGORY,Coupon_ID
5,2014-05-22,Massachusetts,Old_age_Males,Refurbished,DECOR,GK692
6,2014-10-28,Massachusetts,Old_age_Males,New,BABY CLOTHING,EJ951
7,2014-01-23,Massachusetts,Old_age_Males,Used,OFFICE SUPPLIES,BW988
8,2014-09-02,Massachusetts,Old_age_Males,New,SHOES,BN710
9,2014-04-11,Massachusetts,Old_age_Males,Used,LUGGAGE,GQ188
...,...,...,...,...,...,...
9334,2014-02-21,Arizona,Old_age_Males,New,KITCHEN & DINING,CI397
9359,2014-03-24,Illinois,Old_age_Males,New,KITCHEN & DINING,QB548
9360,2014-04-08,Illinois,Old_age_Males,Used,GAMES,HA460
9361,2014-03-29,Illinois,Old_age_Males,New,KITCHEN & DINING,XY385
9362,2014-01-29,Illinois,Old_age_Males,Refurbished,COMPUTERS,OP777

Task 5

In [235]:
df_combined.columns

Index(['Credit_card', 'Product_ID', 'P_CATEGORY', 'CONDTION', 'Brand',
       'Price ', 'Selling_price', 'Coupon_ID', 'Date', 'Time', 'GTIN', 'MPN',
       'Merchant_name', 'M_ID', 'Payment Method', 'Transaction ID',
       'Return_ind', 'Return_date', 'return_date_is_after_purchase date',
       'Email', 'Name', 'Mobile_number', 'Gender', 'Age', 'City ', 'State',
       'Address', 'Age_Category'],
      dtype='object')

In [236]:
df_combined['Time']

0       17:16:17
1       17:00:44
2       15:55:47
3       21:25:54
4       14:28:23
          ...
9382    10:48:06
9383    09:38:28
9384    22:53:20
9385    10:15:58
9386    10:48:06
Name: Time, Length: 9387, dtype: object

In [237]:
df_index_of_morning=df_combined.index[(df_combined['Time']>='06:00:00') & (df_combined['Time']<'12:00:00')]

In [238]:
df_index_of_afternoon=df_combined.index[(df_combined['Time']>='12:00:00') & (df_combined['Time']<'17:00:00')]

In [239]:
df_index_of_evening=df_combined.index[(df_combined['Time']>='17:00:00') & (df_combined['Time']<'21:00:00')]

In [240]:
df_index_of_night=df_combined.index[(df_combined['Time']>='21:00:00') & (df_combined['Time']<='24:00:00')]

In [241]:
df_index_of_late_night=df_combined.index[(df_combined['Time']>='00:00:00') & (df_combined['Time']<'05:59:59')]

In [242]:
df_combined['Timing']=''

In [243]:
df_combined.loc[df_index_of_morning,'Timing']='Morning'

In [244]:
df_combined.loc[df_index_of_afternoon,'Timing']='Afternoon'

In [245]:
df_combined.loc[df_index_of_evening,'Timing']='Evening'

In [246]:
df_combined.loc[df_index_of_night,'Timing']='Night'

In [247]:
df_combined.loc[df_index_of_late_night,'Timing']='late Night'

In [268]:
Morning=df_combined.loc[df_index_of_morning]

In [269]:
Afternoon=df_combined.loc[df_index_of_afternoon]

In [270]:
Evening=df_combined.loc[df_index_of_evening]

In [271]:
Night=df_combined.loc[df_index_of_night]

In [272]:
Late_Night=df_combined.loc[df_index_of_late_night]

Task 6

In [254]:
data.columns

Index(['Credit_card', 'Product_ID', 'P_CATEGORY', 'CONDTION', 'Brand',
       'Price ', 'Selling_price', 'Coupon_ID', 'Date', 'Time', 'GTIN', 'MPN',
       'Merchant_name', 'M_ID', 'Payment Method', 'Transaction ID',
       'Return_ind', 'Return_date', 'return_date_is_after_purchase date'],
      dtype='object')

In [255]:
data['Payemnt_Method_discount']=data['Price ']-data['Selling_price']

In [256]:
Payment_method_discount=data.groupby('Payment Method')['Payemnt_Method_discount'].sum().sort_values(ascending=False)

In [257]:
Payment_method_discount

Payment Method
Mobile carrier Billing    122786
Credit card               111606
Prepaid card               46739
Debit card                  9178
Paypal wallet               2381
Deirect debits              2339
Gift card                   1777
Name: Payemnt_Method_discount, dtype: int32

Task 7

In [258]:
data.columns

Index(['Credit_card', 'Product_ID', 'P_CATEGORY', 'CONDTION', 'Brand',
       'Price ', 'Selling_price', 'Coupon_ID', 'Date', 'Time', 'GTIN', 'MPN',
       'Merchant_name', 'M_ID', 'Payment Method', 'Transaction ID',
       'Return_ind', 'Return_date', 'return_date_is_after_purchase date',
       'Payemnt_Method_discount'],
      dtype='object')

In [274]:
data.groupby('P_CATEGORY')['P_CATEGORY'].count().sort_values(ascending=False)

P_CATEGORY
COMPUTERS           1228
DECOR               1132
ELECTRONICS         1008
SHOES                931
CLOTHING             809
OFFICE SUPPLIES      782
KITCHEN & DINING     776
GAMES                693
LUGGAGE              588
APPLIANCES           545
BEDDING              544
BABY CLOTHING        502
BABY TOYS            461
Name: P_CATEGORY, dtype: int64

Task 8

In [260]:
coupon_code_is_null

Index([  5,  23,  37,  61,  85, 105, 134, 166, 201, 237, 272, 298, 323, 353,
       377, 399, 417, 418, 445, 505],
      dtype='int64')

In [261]:
null_coupon_id=data.iloc[coupon_code_is_null]

In [262]:
null_coupon_id.columns

Index(['Credit_card', 'Product_ID', 'P_CATEGORY', 'CONDTION', 'Brand',
       'Price ', 'Selling_price', 'Coupon_ID', 'Date', 'Time', 'GTIN', 'MPN',
       'Merchant_name', 'M_ID', 'Payment Method', 'Transaction ID',
       'Return_ind', 'Return_date', 'return_date_is_after_purchase date',
       'Payemnt_Method_discount'],
      dtype='object')

In [263]:
discount_not_given=null_coupon_id.groupby('P_CATEGORY')['P_CATEGORY'].count()

In [264]:
coupon_code_is_not_null=data[data['Coupon_ID'].notna()]

In [265]:
discount_given=coupon_code_is_not_null.groupby('P_CATEGORY')['P_CATEGORY'].count()

In [266]:
Increase_in_orders_or_not_if_discount_given=pd.concat([discount_not_given ,discount_given] ,axis=1 ,keys=['Discount not Given','Discount given'])

In [267]:
Increase_in_orders_or_not_if_discount_given

                  Discount not Given  Discount given
P_CATEGORY
BABY TOYS                        1.0             460
CLOTHING                         2.0             807
COMPUTERS                        5.0            1223
DECOR                            1.0            1131
ELECTRONICS                      2.0            1006
GAMES                            1.0             692
KITCHEN & DINING                 1.0             775
LUGGAGE                          3.0             585
OFFICE SUPPLIES                  1.0             781
SHOES                            3.0             928
APPLIANCES                       NaN             545
BABY CLOTHING                    NaN             502
BEDDING                          NaN             544

In the above code we can see that when discount is given the number of orders in high and when discount is not given the number of order is less then we can say that if more discount is given then the number of order will increase

------------------------------------------------------------------End------------------------------------------------------------------------------